@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

* {
  border: 1px black;
  font-size: 1.6rem;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  max-width: 80vw;
  margin: auto;
  margin-top: 4vh;
  height: 50%;
  border: 1px black solid;
}

.display {
  box-sizing: border-box;
  display: flex;

  justify-content: end;
  align-items: end;

  height: 160px;
  padding: 20px;

  font-size: 2.8rem;
  background-color: white;
  border-bottom: 1px black solid;
}

button {
  height: 120px;
  border-radius: 12px;
  background-color: rgb(245, 245, 245, 0);
  transition: 0.1s ease-in-out;
}

button:hover {
  background-color: rgb(245, 245, 245, 0.6);
  transform: translateY(-4px);
}

.inputs {
  display: flex;
  margin: 8px;
}

.inputs > * {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.right {
  max-width: 75%;
}

.left {
  max-width: 25%;
}

.numbers {
  display: flex;
  flex: auto;
  flex-wrap: wrap-reverse;
}

.numbers > * {
  flex-basis: 33.33%;
}

.operators,
.equals {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.operators > * {
  flex: auto;
}

#zero,
#clear {
  flex-basis: 100%;
}
